/* palette di colori */

:root {
    --primary: #750000;
    --secondary: #cc0000;
    --background: rgb(255, 214, 138);
    --text: #000000;
    --error: #b00020;
}

/* regole di reset */

body,header,h1,
h2,h5,ul, main {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 !important;
}

/*html, body {
    overflow-x: hidden;
}*/

/*div {
    max-width: 100%;
}*/

/* font */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body>header>h1,
article>h2,
section>h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary);
    text-align: center;
    font-weight: 600;
}


/* caratteristiche generali tag */

h1 {
    margin: 0 !important;
}

h1>a {
    all: unset;
    cursor: pointer;
}

h1>a:hover,
body>main>section>div>ul>li>a:hover {
    color: var(--primary);
}

body>header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px 5%;
    background-color: #fff;
}

body {
    background-color: var(--background) !important;
    
}

body>footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
    vertical-align: bottom;

}

body>main {
    background-color: var(--background);
    width: 100%;
    /*padding: 0 5% 20px 5%;*/
    
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
/*    padding-left: 0 !important;*/
}



/* BOTTONI, INPUT E A GENERALI */


form input[type="submit"]:hover,
a:hover:not(.noscale) {
    transform: scale(1.05);
    transition: all 0.3s;
}

a:hover:not(h1>a) {
    background-color: lightgray;
}

form input[type="submit"]:active,
a:active {
    transform: scale(0.95);
}

/*li>a:hover,
footer>p>a:hover,
main>p>a:hover,
section>p>a:hover,
body>main>article>a:last-child:hover,
form>p>a:hover {
    background-color: lightgray;
    transform: scale(1.05);
}*/



input[type="radio"] {
    color: black;
}

a {
    text-decoration: none !important;
}

/* ARTICOLI E SEZIONI MAIN */


body>main>article,
body>main>section, .temporaneo {
    border: 2px solid rgb(15, 13, 13);
    border-radius: 5px;
    padding: 20px 5% !important;
    
    background-color: white;
}

@media (min-width: 768px) {
    .temporaneo {
        padding: 20px 3% !important;
    }
}

.click:hover {
    background-color: lightgray;
    transform: scale(1.05);
    transition: all 0.4s;
}

.click:active {
    background-color: gray;
    transform: scale(0.95);
    transition: all 0.4s;
}

.click {
    transition: transform 0.4s ease-in-out;
}

.cliccabile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuisce gli elementi */
    height: 100%;
    /* Le card avranno sempre la stessa altezza */
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
}


.cliccabile section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Imposta un'altezza fissa per la sezione immagine */
    overflow: hidden;
    /* Evita problemi con immagini più grandi */
}

.cliccabile img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ritaglia l'immagine per riempire la sezione */
    border-radius: 5px;
}


.none {
    all: unset;
}

.bottone {
    width: 60% !important;
}

form input[type="submit"],
body>main>section>div>ul>li>a, .bottone {
    /*width: 60%;*/
    text-align: center;
    text-decoration: none;
    padding: 5px 10%;
    font-size: 16px;
    border-radius: 5px;
    background-color: #750000;
    color: #f4f4f4;
    font-weight: 600;
}

/* RECENSIONI */

h2 span {
    color: var(--secondary);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}




/* OFFCANVAS */
body>header header {
    padding: 5% 5px;
}

body>header header div div {
    align-items: center;
    padding: 0 !important;
}

body>header div header h2 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    align-items: center;

}

body>header div header img {
    width: 100%;
}


body>header div header button:hover {
    color: red !important;
}



/*logout offcanvas*/
header div form {
    text-align: center;
}

header div form input[type="submit"]{
    border-color: #ff4d4d;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 30%;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

header div form input[type="submit"]:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

header div form input[type="submit"]:active {
    background-color: #cc0000;
    transform: scale(0.95);
}

/*RECENSIONI*/

h2 span {
    color: var(--secondary);
}

section>form>ul>li>div>label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: color 0.4s;
}

textarea {
    height: 150px;
}

/* CONTENUTO TRACCIAMENTO */

section>ul>li>input[type="radio"] {
    accent-color: var(--text);
    filter: invert(0.1);
    transform: scale(1.4);
}

/* bottone preferiti */

header>button { /*dovrebbe essere solo per il bottone preferiti */
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*bottone carrello */

form[action="carrello.php"] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

form[action="carrello.php"]>button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9d9b9b;
}

form>button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    transition: all 0.3s;
}

/* img carrello */

tr > td img {
    padding: .25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 5px;
}