/* palette di colori */

:root {
    --primary: #750000;
    --secondary: #cc0000;
    --background: rgb(255, 214, 138);
    --text: #000000;
    --error: #b00020;
}

/* regole di reset */

body,
header,
h1,
h2,
h5,
ul {
    margin: 0;
    padding: 0;
}

/* font */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

body>header>h1,
article>h2,
section>h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary);
    text-align: center;
    font-weight: 600;
}


/* caratteristiche generali tag */

h1 {
    margin: 0 !important;
}

h1>a {
    all: unset;
    cursor: pointer;
}

h1>a:hover,
body>main>section>div>ul>li>a:hover {
    color: var(--primary);
}

body>header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 10px 5%;
    background-color: #fff;
}

body {
    background-color: var(--background);
}

body>footer {
    background-color: rgb(54, 54, 54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    vertical-align: bottom;

}

body>main {
    background-color: var(--background);
    padding-bottom: 20px;
}

img {
    max-width: 100%;
}

ul li a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 0 !important;
}

li {
    display: grid;
    padding: 10px 0;
}

/* BOTTONI, INPUT E A GENERALI */

button {
    padding: 10px 0 !important;
    font-size: 50%;
    width: 80%;
    cursor: pointer;
}

form input[type="submit"]:hover,
a:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

form input[type="submit"]:active,
a:active {
    transform: scale(0.95);
}

li>a:hover,
footer>p>a:hover,
main>p>a:hover,
section>p>a:hover,
body>main>article>a:last-child:hover,
form>p>a:hover {
    background-color: lightgray;
    transform: scale(1.05);
}

ul>li:last-child>input[type="submit"] {
    width: 30%;
}

input[type="radio"] {
    color: black;
}

a {
    text-decoration: none !important;
}

/* ARTICOLI E SEZIONI MAIN */


body>main>article,
body>main>section {
    border: 2px solid rgb(15, 13, 13);
    border-radius: 5px;
    padding: 20px 5%;
    background-color: white;
}


body>main form {
    text-align: center;
}

body>main form input[type="submit"],
body>main>section>div>ul>li>a {
    width: 60%;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #750000;
    color: #f4f4f4;
    font-weight: 600;
    /*background-color: rgb(255, 141, 139);*/
}

body>main>section>div>ul>li {
    margin: 0 20%;
}

body>main>section>div>ul>li>a {
    width: 100%;
}

/*tutti tranne l'immagine della frutta in index*/
main>*:not(:first-child img) {
    margin: 20px 5% 0;
}

main:not(:has(> img:first-child)) {
    padding-top: 20px;
}


/* RECENSIONI INDEX */

body>main>article>article {
    border: 1px solid black;
    padding: 10px 5%;
    margin-bottom: 20px;
    background-color: rgb(255, 242, 242);
}

body>main>article>article p {
    margin-bottom: 0;
}

body>main>article>article>header>p>span {
    color: grey;
    font-size: 24px;
}

body>main>article>article>header>p>span[data-filled="true"] {
    color: gold;
}

body>main>article>article>footer p {
    text-align: end;
    color: grey;
    font-size: 12px;
}

body>main>article>article>footer form {
    text-align: end;
}


/* OFFCANVAS */
body>header header {
    padding: 5% 5px;
}

body>header header div div {
    align-items: center;
    padding: 0 !important;
}

body>header div header h2 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    align-items: center;

}

body>header div header img {
    width: 100%;
}

body>header div header button {
    width: 100% !important;
    padding: 0;
}

body>header div header div div div:last-child {
    margin-top: -30px;
    font-size: 150%;

}

body>header div header button:hover {
    color: red !important;
}

/*elenco offcanvas*/

div div ul>li {
    margin: 10px 5%;
}

div div ul>li>a {
    display: block;
    color: black;
    font-size: 1.5em;
    padding: 10px 0;
    transition: all 0.3s ease;
}

/*logout offcanvas*/
header div form {
    text-align: center;
}

header div form input[type="submit"] {
    border-color: #ff4d4d;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 30%;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

header div form input[type="submit"]:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

header div form input[type="submit"]:active {
    background-color: #cc0000;
    transform: scale(0.95);
}

/*RECENSIONI*/

h2 span {
    color: var(--secondary);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

section>form>ul>li>div>label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    transition: color 0.4s;
}

textarea {
    height: 150px;
}

/* PROFILO */

table {
    width: 100%;
}

td {
    height: 30px;
    font-size: 18px;
    padding: 15px 5% 0;
    vertical-align: center;
}

main>section>img:last-child {
    margin-bottom: -20px;
}

/* STORICO NOTIFICHE, ORDINI, PRODOTTI */

section>form header p {
    margin: 0;
    width: 50%;
}

section>form header {
    display: inline-flex;
}

section>form>article>* {
    margin-bottom: 10px;
    width: 100%;
}

section>form header>p:last-child {
    text-align: end;
    font-size: 14px;
    color: grey;

}

section>form header>p:first-child {
    text-align: start;
    font-weight: 600;
}

/* CONTENUTO TRACCIAMENTO */

section>ul>li>input[type="radio"] {
    accent-color: var(--text);
    filter: invert(0.1);
    transform: scale(1.4);
}

/* LISTA PRODOTTI E PREFERITI */

body>main article>header>button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    /*justify-content: center;
    position: relative;*/
    border: none;
    border-radius: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

body>main>form[action="carrello.php"] {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

body>main>form>button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #9d9b9b;
}


body main article>header>button:hover,
form>button:hover {
    background-color: #e0e0e0;
    transform: scale(1.1);
    transition: all 0.3s;


}


@media screen and (min-width:768px) {

    body>header {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    body>header>div>div {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }

    body>header>div>div>section {
        width: 90%;
    }

    body>header>div>div>form {
        width: 10%;
    }

    body>header>div>div ul {
        width: 100%;
        display: inline-flex;
    }

}